{% extends 'core/base.html' %}
{% block title %}{{ user.username }} Profile page{% endblock %}
{% block content %}
    <div class="container-lg bg-stone-300 p-6 rounded-lg">
        {% if user.is_authenticated %}
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-3xl">Perfil de <strong>{{ user.username }}</strong></h2>
                <form method='POST' action="{% url 'user_profile:logout' %}" class="ml-auto">
                    {% csrf_token %}
                    <button 
                    type="submit" 
                    class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-md">
                    Logout
                </button>
            </form>
        </div>
        {% endif %}
        
        <h3 class="text-2xl mb-6">{{ user.email }}</h3>
        <a href="{% url 'card:new_card' %}" class="p-2 bg-indigo-600 text-white font-semibold rounded-md mt-6">Add Card</a>

        <h3 class="text-2xl text-center font-semibold italic">My Cards</h3>
        <div class="grid grid-col-1 md:grid-cols-3 lg:grid-cols-5 gap-4 p-5">
            {% for card in cards %}
            <div class="p-2 bg-stone-200 rounded-md">
                <a href="{% url 'card:detail' card.id %}">
                    <img src="{{ card.card_image.url }}" alt="{{ card.card_name }} card" class="w-full hover:scale-150 shadow-lg hover:shadow-indigo-600/60">
                    <p class="text-sky-800 font-bold text-lg">{{ card.card_name }}</p>
                    <p>{{ card.card_type }}</p>
                    <p>{{ card.faction }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
