{% extends "core/base.html" %}
{% block title %}Home{% endblock  %}
{% block content %}

    <div class="p-8">
        <h1 class="text-center text-3xl">You have once again entered the world of survival horror!</h1>
        <h2 class="text-center text-2xl text-red-600">Good Luck!!</h2>
        <div class="container grid grid-cols-5 gap-4 rounded-md">
            {% for card in cards %}
            <div class="p-2 bg-stone-200 rounded-md">
                <img src="{{ card.card_image.url }}" alt="" class="w-full">
                <p class="text-sky-800 font-bold text-lg">{{ card.card_name }}</p>
                <p>{{ card.card_type }}</p>
                <p>{{ card.faction }}</p>
            </div>
            {% endfor %} 
        </div>

    </div>

{% endblock  %}
